<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <meta charset="utf-8">
        <title>mi candidate</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('core.index') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('core.info') }}">About</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="{{ url_for('users.logout') }}">Log out</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="{{ url_for('users.account') }}">Account</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" tabindex="-1" aria-disabled="true class="nav-link" href="#">New post</a>
                    </li>
                {% else %}
                    <li class="nav-link">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true href="{{ url_for('users.login') }}">Log In</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true href="{{ url_for('users.register') }}">Register</a>
                    </li>
                {% endif %}
              </ul>
          </div>

              <form class="d-flex" method="POST>
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                      {{ form.consulta.label(class="form-group") }}
                      {{ form.consulta(class='form-control me-2' type="search" placeholder="Área electoral" aria-label="Buscar") }}
                  </div>
                  <br>
                  <div class="form-group">
                      {{ form.submit(class="btn btn-outline-info" type="submit") }}
                  </div>

                <input class="form-control >
                <button class=">Buscar</button>
              </form>

          </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1>Tu candidate!</h1>
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
