<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <p>Por quien quieras </p>
      <p>PERO INFORMATE </p>
      <br>
      <p>y sobre todo</p>
      <p>VOTA!</p>
    </div>
    <div class="col">
      <p> --- INE aquí --- </p>
      <p> ################## </p>
      <p> ################## </p>
      <p> ################## </p>
      <p> ################## </p>
      <p> ################## </p>
      <p> ################## </p>
      <p> ################## </p>
      <p> ################## </p>
    </div>
  </div>
</div>

<br>
<p>--- esta forma se tiene que mover arriba ---</p>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.consulta.label(class="form-group") }}
        {{ form.consulta(class='form-control') }}
    </div>
    <br>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>


{% endblock %}
