<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<br>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.estado.label(class="form-group") }}
        {{ form.estado(class='form-control') }}
    </div>
    <br>
    <div class="form-group">
        {{ form.area_electoral.label(class="form-group") }}
        {{ form.area_electoral(class='form-control') }}
    </div>
    <br>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>


{% endblock %}
