<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <p>Un proyecto </p>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>

<br>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.consulta.label(class="form-group") }}
        {{ form.consulta(class='form-control') }}
    </div>
    <br>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>


{% endblock %}
