<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<p> el estado fue: {{ session['estado']}}</p>
<br>
<p> el area electoral consultada fue: {{session['area_electoral'] }}</p>
<br>
<p>{{ session['api_response']}}</p>

<div class="control-group">
    <p><strong>Check the enabled BRI Ports</strong></p>
    {% for name, field in form._fields.items() %}
        {% if name != 'csrf_token' %}
            <label class="checkbox inline">
                {{ field(value=1) }} {{ field.label }}
            </label>
        {% endif %}
    {% endfor %}
</div>




{% endblock %}
