<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tu Candidate!</title>
    </head>
    <body>
        <h1>@@ Tu Candidate! @@</h1>
        <p>Más milenials voluntarios por un país les convoca. </p>
        <!-- <p>{{seccion_electoral}}</p> -->

        <form class="" method="post">
            {{ form.seccion_electoral.label}}<br>{{ form.seccion_electoral}}
            <br>
            <br>
            {{ form.hidden_tag()}}
            {{ form.consulta.label}}<br>{{ form.consulta}}
            <br>
            {{form.submit()}}
        </form>

    </body>
</html>
